<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">DiIiS_NA.Core.Storage.PostgresDialect, Blizzless</property>
    <property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
    <property name="use_proxy_validator">true</property>
	<property name="command_timeout">0</property>
    <property name="connection.connection_string">
      Server=localhost;Database=worlds;User ID=postgres;Password=postgres
    </property>
    <property name="connection.release_mode">on_close</property>
    <property name="adonet.batch_size">0</property>
    <property name="max_fetch_depth">0</property>
    <property name="show_sql">false</property>
    <property name="format_sql">false</property>
  </session-factory>
</hibernate-configuration>